
<div class="column">
  <h2 class="title is-2">All Episodes</h2>
  <%= paginate @episodes %>
  <%= page_entries_info @episodes %>
  <ol class="ml-5">
    <% @episodes.each do |episode| %>
      <li>
        <%= link_to episode.name, episode %>
        <em>(<%= episode.show.name %>)</em>
      </li>
    <% end %>
  </ol>
</div>