<h2><%= @episode.name %></h2>

<article>
  <div class="message is-dark">
    <p>Air Date:</p>
  </div>
  <div class="message-body">
    <%= @episode.air_date %>
  </div>
  <div class="message is-dark">
    <p>Episode number:</p>
  </div>
  <div class="message-body">
    <%= @episode.episode_number %>
  </div>
</article>
