<div class="column">
  <h2 class="title is-2">All Characters</h2>
  <%= paginate @characters %>
  <%= page_entries_info @characters %>
  <ol class="ml-5">
    <% @characters.each do |character| %>
      <li>
        <%= link_to character.name, character %>
        <em>(<%= character.show.name %>)</em>
      </li>
    <% end %>
  </ol>
</div>
