<h2><%= @character.name %></h2>

<article>
  <div class="message is-dark">
    <p>Gender</p>
  </div>
  <div class="message-body">
    <%= @character.gender %>
  </div>
  <div class="message is-dark">
    <p>Birth place:</p>
  </div>
  <div class="message-body">
    <%= @character.birth_place %>
  </div>
</article>