<h1>About this website</h1>
<p>This website uses the Rick and morty api, rickandmortyapi.com, swapi.dev (Star Wars API) and Faker as they each have JSON structure.</p>
 <p>I was able to grab the Characters, locations and episodes from each of these data sets into a table called Characters, locations, and episodes and use the Faker api</p>
 <p>to create a list of users with a favourite character, favourite location, and favourite episode/movie from all three datasets.</p>


