
<article>
  <div class="message is-dark">
    <p>Name:</p>
  </div>
  <div class="message-body">
    <%= @show.name %>
  </div>
  <div class="message is-dark">
    <p>Created at:</p>
  </div>
  <div class="message-body">
    <%= @show.created_at %>
  </div>
</article>