<h1>Location</h1>
<article>
  <div class="message is-dark">
    <p>Name:</p>
  </div>
  <div class="message-body">
    <%= @location.name %>
  </div>
  <div class="message is-dark">
    <p>Dimension:</p>
  </div>
  <div class="message-body">
    <%= @location.dimension %>
  </div>
</article>
