<h1>Location</h1>
<article>
  <div class="message is-dark">
    <p>Name</p>
  </div>
  <div class="message-body">
    <%= @character.gender %>
  </div>
  <div class="message is-dark">
    <p>Birth place:</p>
  </div>
  <div class="message-body">
    <%= @character.birth_place %>
  </div>
</article>
